@media(min-width:1900px) {
    .tela-de-fundo-do-menu {
        width: 120rem;
        height: 60.6rem;
    }
    
    .tela-de-fundo-do-menu img {
        width: 120rem;
        height: 61rem;
    }
    .janela-de-start button {
        left: 43.6%;
    }
}